{
  "port": {{ service_port }},
  "unsubRates": {
    "a": {{ a_unsub_rate | default(30) }},
    "b": {{ b_unsub_rate | default(70) }}
  },
  "authString": "{{ auth_string | default("Bearer ABC123") }}",
  "rolloverThreshold": {{ rollover_threshold | default(1000) }}
}
